body{
  margin: 0;
  padding: 0;
  background-image: url(../image/Backgroundhome.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
	background-size: cover;
}
  .seacrh-box{
    width: 50%;
    position: absolute;
    top: 10%;
    left: 50%; transform:translate(-50%,-50%);
    background: #ffffff;
    height: 40px;
    border-radius: 40px;
    padding:10px;
    /* background-attachment: fixed; */

    /* position: fixed; */
    /* box-shadow: rgb(223, 216, 216);
    box-shadow: 0.1px 3px; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  }
  .seacrh-btn{
    color: #18e86b;
    float: right;
    width: 40px;
    height: 20px;
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .seacrh-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #778077;
    font-size: 16px;
    transition: 0.4s;
    line-height: 20px;
    width: 90%;
  }